<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>User Manager</title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
			    <nav class="red darken-4">
			      <div class="nav-wrapper container">
			        <a href="#!" class="brand-logo">Cadastro de Usuarios</a>
			        <ul class="right hide-on-med-and-down">
			          <li><a href="/users"><i 
			          			class="material-icons left">list</i>Lista de Usuarios</a></li>
			        </ul>
			      </div>
			    </nav>
			</div>
		</header>
		
		<div class="container">
		<th:block th:include="messageValidation"></th:block>
		</div>
	
		<form class="container" method="post">
			Nome: <input type="text" value="" name="name"/>
			<div class="row">
				<div class="input-field col s6">
					Local: <input type="text" value="" name="local"/>
				</div>
				<div class="input-field col s3">
					Data: <input type="date" value="" name="date"/>
				</div>
				<div class="input-field col s3">
					Horario: <input type="time" value="" name="horary"/>
				</div>
			</div>
			<button class="waves-effect waves-light btn brown lighten-2" type="submit">Salvar</button>
			
		</form>
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>